body{
    background: rgb(62, 62, 174);
    min-height: 100vh;
    margin: 0;
}
#card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 16em;
    height: 720px;
    width:1280px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    background-color: black;
    display: flex;
    align-items: flex-start;
    border-radius: 3%;
}
#pic{
    margin-top: 112px;
    margin-left: 160px;
    border: 3px solid purple;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 5%;
    text-align: center;
    line-height: 120px;
    font-size: 5em;
    color: black;
    background: linear-gradient(orange , yellow);
}
#state{
    background-color: lightblue;
    margin-top: 112px;
    margin-left: 60px;
    width:700px;
    height: 400px;
    text-align: center;
    font-size: 4em;
    border-radius: 3%;
}
#state{
    position: relative;
}
#score{
    position: absolute;
    top: 89px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid black;
    box-shadow: 2px 2px 4px black;
    background: linear-gradient(orange , yellow);
    color: black;
    text-align: center;
    padding: 10px 30px;
    font-size: 0.4em;
    width: 600px;
}
#time{
    position: relative;
    border: 3px solid black;
    font-size: 0.4em;
    top: 100px;
    left:2.57%;
    border-radius: 3px;
    background: linear-gradient(orange , yellow);
    box-shadow: 2px 2px 4px black;
    width: 600px;
    padding:10px 30px;
}